<div class="row">
  <h1 align="center"><%= "#{@user.name}'s Trips" %></h1>

  <div class="new-trip-button right"><%= link_to image_tag("World-point.png"),
  new_trip_path, id: "new-trip", method: :get %></div>
</div>

<div class="row">
  <div style='width: 800px;'>
    <div id="map" style='width: 900px; height: 600px;'>
    </div>
  </div>
</div>

<% content_for :extra_footer do %>
  <% javascript_tag do %>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.getMap().setZoom(2);
  });

  function displayOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
  };
  <% end %>
<% end %>


<h3 align="center">Upcoming Trips</h3>

<div class="row">
  <% @future_trips.each do |trip| %>
    <div class="trip-item">
        <%= image_tag(trip.cover_photo) %>
        <h4><%= link_to trip.title, trip_path(trip) %></h4>
        <h6><%= trip.description %></h6>
        <p><%= trip.startdate.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>

<h3 align="center">Past Trips</h3>

<div class="row">
  <% @past_trips.each do |trip| %>
    <div class="trip-item">
        <%= image_tag(trip.cover_photo) %>
        <h4><%= link_to trip.title, trip_path(trip) %></h4>
        <h6><%= trip.description %></h6>
        <p><%= trip.startdate.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>
