<div class="row">
  <h1 align="center"><%= "#{@user.name}'s Trips" %></h1>

  <div class="new-trip-button right"><%= link_to image_tag("World-point.png"),
  new_trip_path, id: "new-trip", method: :get %></div>
</div>

<div class="row">
  <h2 align="center"> Maps going to go here </h2>
</div>

<h3 align="center">Upcoming Trips</h3>

<div class="row">
  <% @trips.each do |trip| %>
    <div class="trip-item">
        <h4><%= link_to trip.title, trip_path(trip) %></h4>
        <h6><%= trip.description %></h6>
        <p><%= trip.startdate.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>

<h3 align="center">Past Trips</h3>

<div class="row">
  <% @trips.each do |trip| %>
    <div class="trip-item">
        <!-- Add a trip photo -->
        <h4><%= link_to trip.title, trip_path(trip) %></h4>
        <h6><%= trip.description %></h6>
        <p><%= trip.startdate.strftime("%b %d, %Y") %></p>
    </div>
  <% end %>
</div>
