  <div class="small-6 small-offset-2 large-12 columns">
    <div class="container">
      <h1><%= @trip.title %></h1>
      <h3><%= @trip.description %></h3>
      <h6><%= @trip.startdate %></h6>
    <%= link_to image_tag("ic_mode_edit.png"),
    edit_trip_path(@trip), id: "edit-trip", method: :get %>
    <%= link_to image_tag("ic_delete.png"),
    trip_path(@trip), id: "delete-trip", method: :delete %>
    </div>
  </div>

    <ul>
      <li>
        <%= link_to image_tag("openbook.png", id: "icon"), new_trip_post_path(@trip), id: "new-post", method: :get %>
      </li>
      <li>
        <%= link_to image_tag("album.png", id: "icon"), new_trip_album_path(@trip), id: "new-album", method: :get %>
      </li>
      <li>
        <%= link_to image_tag("highlight.png", id: "icon"), trips_path, method: :get %>
      </li>
    </ul>

    <% @sorted_posts.each do |entry| %>
        <% if entry.class == Post %>
          <%= render partial: "post", locals: { entry: entry } %>
        <% elsif entry.class == Album %>
          <%= render partial: "album", locals: { entry: entry }%>
        <% end %>
    <% end %>
